<mat-toolbar color="primary">
    <span>Programacion Dinamica</span>
   
    <a mat-stroked-button routerLink="" [title]="'Ventana de inicio de la pagina web'">Inicio</a>
    <a mat-stroked-button routerLink="rutasmascortas" [title]="'Ventana de algoritmo de las rutas mas cortas'">Rutas Mas Cortas</a>
    <a mat-stroked-button routerLink="problemamochila" [title]="'Ventana de algoritmo del problema de la mochila'">Problema Mochila</a>
    <a mat-stroked-button routerLink="reemplazoequipos" [title]="'Ventana de algoritmo del reemplazo de equipos'">Reemplazo De Equipos</a>
    <a mat-stroked-button routerLink="arbolesbinarios" [title]="'Ventana de algoritmo de los arboles binarios'">Arboles Binarios</a>
    <a mat-stroked-button routerLink="seriesdeportivas" [title]="'Ventana de algoritmo de las series deportivas'">Series Deportivas</a>
    <a mat-stroked-button routerLink="multiplicacionmatrices" [title]="'Ventana de algoritmo de la multiplicacion de matrices'">Multiplicacion De Matrices</a>
    <a mat-stroked-button routerLink="salir" [title]="'Boton para salir de la pagina web'">Salir</a>
    

  </mat-toolbar>
   
 