.css-input {
    font-family: 'Ubuntu', sans-serif;
    padding: 5px;
    font-size: 20px;
    border-width: 1px;
    border-color: transparent;
    background-color: #f49334;
    color: #000000;
    border-style: solid;
    border-radius: 6px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.39);
    text-shadow: 0px 0px 1px rgba(66,66,66,.75);
}
.css-input:focus {
    outline:none;
}


.centro {
    width: auto;
    margin: auto;
}

.font {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    word-spacing: 1px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}


.myButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #524052 5%, #000000 100%);
	background-color:#524052;
	border-radius:6px;
	border:1px solid #171717;
	display:inline-block;
	cursor:pointer;
	color:#fafafa;
	font-family: 'Ubuntu', sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:6px 24px;
    margin: 25px 12px 0px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:linear-gradient(to bottom, #000000 5%, #524052 100%);
	background-color:#000000;
}
.myButton:active {
	position:relative;
	top:1px;
}

.contador {
    height: 20px;
    width: 40px;
}

.tagP {
    font-family: 'Ubuntu', sans-serif;
    color: #000000;
    font-size: 20px;
}

table {
    color: #fafafa;
}

td {
    border:1px solid #fafafa;
}

.rutasLabel {
    font-weight: bolder;font-size: larger;color: #fafafa;
}

.ruta {
    display: block;
    margin-left: 20px;
}